<<<<<<< HEAD
@import "src/static/scss/abstracts/variables", "src/static/scss/abstracts/functions", "src/static/scss/abstracts/mixins";

@import "src/static/scss/vendors/jquery-ui";

@import "src/static/scss/base/reset", "src/static/scss/base/typography";

@import "src/static/scss/layout/navigation", "src/static/scss/layout/grid", "src/static/scss/layout/header", "src/static/scss/layout/footer",
"src/static/scss/layout/sidebar", "src/static/scss/layout/form";

@import "src/static/scss/components/buttons", "src/static/scss/components/carousels", "src/static/scss/components/covers",
"src/static/scss/components/dropdown", "src/static/scss/components/inputs";

@import "src/static/scss/pages/home", "src/static/scss/pages/contact";

@import "src/static/scss/themes/theme", "src/static/scss/themes/admin";
=======
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

@import "vendors/jquery-ui";

@import "base/reset", "base/typography";

@import "layout/navigation", "layout/grid", "layout/header", "layout/footer",
"layout/sidebar", "layout/form";

@import "components/buttons", "components/carousels", "components/covers",
"components/dropdown", "components/inputs";

@import "pages/home", "pages/contact";

@import "themes/theme", "themes/admin";
>>>>>>> 3e4e5795642facfba9d2c01d3438d9d26d7bca85

//ul 태그 불릿 제거
ul {
  list-style: none;
  padding-left: 0px;
}

//기본 페이지 마진 제거
body{
  margin: 0;
}
// 텍스트 밑줄, 파란색 글자 제거
a:link {
  color: #222222;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
